<!doctype HTML>
<html lang="en-US">
  <head>
    <title>Simba's Vocabulary Builder</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div class="content">
        <h1>Simba's Vocabulary Builder</h1>
      </div>
    </header>
    <main>
      <div class="content">
        <section class="search">
          <div>
            <h2>Search</h2>
            <form>
              <input type="text" placeholder="Search Vocabulary">
              <input type="button" value="Search">
            </form>
            <section class="dict">
              <ul>
                <li>
                  <div class="part-of-speech">
                  content verb \ˈkän-ˌtent\
                  </div>
                  <div class="definition">
                  to appease the desires of, to limit (oneself) in requirements, desires, or actions
                  </div>
                  <ul class="examples">
                    <li>The toys contented the children, at least for a little while.</li>
                    <li>a person easily contented by life's simple pleasures.</li>
                  </ul>
                </li>
              </ul>
              <h3>Merriam-Webster's Elementary Dictionary</h3>
            </section>
          </div>
        </section>
        <section class="list">
          <h2>List</h2>
          <ul class="list">
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
          </ul>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
