<!doctype HTML>
<html lang="en-US">
  <head>
    <title>Simba's Vocabulary Builder</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div class="content">
        <h1>Simba's Vocabulary Builder</h1>
      </div>
    </header>
    <main>
      <div class="content">
        <section class="search">
          <div>
            <h2>Search</h2>
            <form>
              <input type="text" placeholder="Search Vocabulary" class="search-text">
              <input type="button" value="Search" class="search-btn">
            </form>
            <section class="dict">
              <dl>
                <dt class="term"><dfn>content</dfn></dt>
                <dd class="part-of-speech"><i>verb</i></dd>
                <dd class="pronunciation">\ˈkän-ˌtent\<img src="/public/img/sound.gif"></dd>
                <dd class="definition">the things that are within. 
                  <q><b>contents</b> of a room</q>
                </dd>
                <dd class="definition">the important part or meaning (as of a book) 
                  <q>Do you understand the <b>contents</b> of the paragraph?</q>
                </dd>

                <hr>
                <dt class="term"><dfn>pronunciation</dfn></dt>
                <dd class="part-of-speech"><i>verb</i></dd>
                <dd class="pronunciation">\prə-ˌnən-sē-ˈā-shən\
                  <a href="#"><img src="/public/img/sound.gif"></a>
                </dd>
                <dd class="definition">the things that are within. 
                  <q><b>contents</b> of a room</q>
                </dd>
                <dd class="definition">the important part or meaning (as of a book) 
                  <q>Do you understand the <b>contents</b> of the paragraph?</q>
                </dd>
              </dl>
              <h3>Merriam-Webster's Elementary Dictionary</h3>
            </section>
            <input type="button" value="Add this vocabulary" class="add-btn">
          </div>
        </section>
        <section class="list">
          <h2>List</h2>
          <ul class="list">
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
            <li>adfafd</li>
          </ul>
          <form>
            <input type="button" value="Previous">
            <select>
              <option value="1">Page 1</option>
              <option value="2">Page 2</option>
            </select>
            <input type="button" value="Next">
          </form>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
